<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../header'); %>
</head>

<body class="container">

  <main>
    <div class="jumbotron">
      <h1>
        Error
      </h1>
      <p>Welcome to <%= error.stack %>
      </p>
    </div>
  </main>

  <footer>
    <%- include('../footer'); %>
  </footer>

</body>

</html>